In [1]:
#importing necessary libraries
import pandas as pd
import numpy as np

### Loading, merging and cleaning the 2006 and 2007 datasets

In [2]:
#loading 2006 and 2007 CSV files
df_2006 = pd.read_csv('2006.csv')
df_2007 = pd.read_csv('2007.csv')

In [3]:
#merging the 2006 and 2007 dataframes together:
merged_df = pd.concat([df_2006, df_2007], ignore_index=True)

In [4]:
#checking the number of rows and columns of the dataframe
merged_df.shape

(14595137, 29)

In [5]:
#setting pandas to show all columns of the dataframe without truncation
pd.set_option('display.max_columns', None)

In [6]:
#checking the data types of each column
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14595137 entries, 0 to 14595136
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             int64
 20  TaxiOut            int64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       int64
 25  WeatherDelay       int64
 26  NASDelay           int64
 27  SecurityDelay      int64
 28  LateAircraftDelay  int64
dtypes: float64(7), int64(17), object(5)
memory usage: 3.2+ GB

In [7]:
#checking the number of null values in each column
merged_df.isnull().sum()

Year                        0
Month                       0
DayofMonth                  0
DayOfWeek                   0
DepTime                282682
CRSDepTime                  0
ArrTime                316047
CRSArrTime                  0
UniqueCarrier               0
FlightNum                   0
TailNum                    22
ActualElapsedTime      316047
CRSElapsedTime            998
AirTime                316047
ArrDelay               316047
DepDelay               282682
Origin                      0
Dest                        0
Distance                    0
TaxiIn                      0
TaxiOut                     0
Cancelled                   0
CancellationCode     14312454
Diverted                    0
CarrierDelay                0
WeatherDelay                0
NASDelay                    0
SecurityDelay               0
LateAircraftDelay           0
dtype: int64

In [8]:
#dropping the CancellationCode column as 98% of the column contains null values
merged_df = merged_df.drop("CancellationCode", axis='columns')

In [9]:
#checking for duplicate values
merged_df.duplicated().sum()

34

In [10]:
#removing the duplicate values
merged_df.drop_duplicates(inplace = True)

In [11]:
#checking the arrival delays of cancelled and diverted flights
cancelled_diverted = merged_df.loc[merged_df['Cancelled'] == 1]
cancelled_diverted = merged_df.loc[merged_df['Diverted'] == 1]

cancelled_diverted['ArrDelay'].sum()

0.0

In [12]:
#checking the number of cancelled flights
merged_df["Cancelled"].sum()

282682

In [13]:
#checking the number of diverted flights
merged_df["Diverted"].sum()

33364

In [14]:
#dropping the rows of flights that were either cancelled or diverted
merged_df = merged_df.loc[merged_df['Cancelled'] == 0]
merged_df = merged_df.loc[merged_df['Diverted'] == 0]
cancelled = merged_df["Cancelled"].sum()
diverted = merged_df["Diverted"].sum()
print(cancelled, diverted)

0 0

In [15]:
#dropping the Cancelled and Diverted columns, as all Cancelled and Diverted flights have been removed
merged_df = merged_df.drop("Cancelled", axis='columns')
merged_df = merged_df.drop("Diverted", axis='columns')

In [16]:
#checking the max values of all numeric columns
merged_df.max(numeric_only=True)

Year                 2007.0
Month                  12.0
DayofMonth             31.0
DayOfWeek               7.0
DepTime              2930.0
CRSDepTime           2359.0
ArrTime              2955.0
CRSArrTime           2359.0
FlightNum            9619.0
ActualElapsedTime    1879.0
CRSElapsedTime        660.0
AirTime              1958.0
ArrDelay             2598.0
DepDelay             2601.0
Distance             4962.0
TaxiIn               1501.0
TaxiOut               602.0
CarrierDelay         2580.0
WeatherDelay         1429.0
NASDelay             1392.0
SecurityDelay         382.0
LateAircraftDelay    1366.0
dtype: float64

In [17]:
#Checking the minimum values of all numeric columns
merged_df.min(numeric_only=True)

Year                 2006.0
Month                   1.0
DayofMonth              1.0
DayOfWeek               1.0
DepTime                 1.0
CRSDepTime              1.0
ArrTime                 1.0
CRSArrTime              0.0
FlightNum               1.0
ActualElapsedTime       5.0
CRSElapsedTime        -25.0
AirTime             -1425.0
ArrDelay             -592.0
DepDelay            -1200.0
Distance               11.0
TaxiIn                  0.0
TaxiOut                 0.0
CarrierDelay            0.0
WeatherDelay            0.0
NASDelay                0.0
SecurityDelay           0.0
LateAircraftDelay       0.0
dtype: float64

#### Cleaning the 24 hour format time columns

It is revealed that some of the time values exceed the 24 hour format limit.

It is also observed that the CRSElapsedTime and AirTime have taken on some negative values, which is not possible as both columns do not show any time savings, only time spent.

In [18]:
#converting the columns with intergers(hhmm) to time objects, to get rid of invalid time values
merged_df['DepTime'] = pd.to_datetime(merged_df['DepTime'], format='%H%M', errors='coerce').dt.strftime('%H:%M')
merged_df['CRSDepTime'] = pd.to_datetime(merged_df['CRSDepTime'], format='%H%M', errors='coerce').dt.strftime('%H:%M')
merged_df['ArrTime'] = pd.to_datetime(merged_df['ArrTime'], format='%H%M', errors='coerce').dt.strftime('%H:%M')
merged_df['CRSArrTime'] = pd.to_datetime(merged_df['CRSArrTime'], format='%H%M', errors='coerce').dt.strftime('%H:%M')

In [19]:
#checking for remaining null values
merged_df.isnull().sum()

Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime              11733
CRSDepTime             242
ArrTime              49375
CRSArrTime           19117
UniqueCarrier            0
FlightNum                0
TailNum                  0
ActualElapsedTime        0
CRSElapsedTime           0
AirTime                  0
ArrDelay                 0
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                   0
TaxiOut                  0
CarrierDelay             0
WeatherDelay             0
NASDelay                 0
SecurityDelay            0
LateAircraftDelay        0
dtype: int64

In [20]:
#dropping all remaining null values
merged_df.dropna(inplace=True)

In [21]:
#checking the data types of the columns
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14203515 entries, 0 to 14595136
Data columns (total 26 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            object
 5   CRSDepTime         object
 6   ArrTime            object
 7   CRSArrTime         object
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             int64
 20  TaxiOut            int64
 21  CarrierDelay       int64
 22  WeatherDelay       int64
 23  NASDelay           int64
 24  SecurityDelay      int64
 25  LateAircraftDelay  int64
dtypes: float64(5), int64(13), object(8)
memory usage: 2.9+ GB

In [22]:
#converting the HH:MM columns back to integers
merged_df['DepTime'] = merged_df['DepTime'].str.replace(':', '').astype(int)
merged_df['CRSDepTime'] = merged_df['CRSDepTime'].str.replace(':', '').astype(int)
merged_df['ArrTime'] = merged_df['ArrTime'].str.replace(':', '').astype(int)
merged_df['CRSArrTime'] = merged_df['CRSArrTime'].str.replace(':', '').astype(int)

In [23]:
#keeping only the positive values of CSRElapsedTime and AirTime columns
merged_df = merged_df[merged_df['CRSElapsedTime'] >= 0]
merged_df = merged_df[merged_df['AirTime'] >= 0]

In [24]:
#checking the data types of the columns
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14203514 entries, 0 to 14595136
Data columns (total 26 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            int64
 5   CRSDepTime         int64
 6   ArrTime            int64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             int64
 20  TaxiOut            int64
 21  CarrierDelay       int64
 22  WeatherDelay       int64
 23  NASDelay           int64
 24  SecurityDelay      int64
 25  LateAircraftDelay  int64
dtypes: float64(5), int64(17), object(4)
memory usage: 2.9+ GB

In [25]:
#checking the shape of the dataframe against the index of the data frame
print(merged_df.shape)
print(merged_df.index)

(14203514, 26)
Int64Index([       0,        1,        2,        3,        4,        5,
                   6,        7,        8,        9,
            ...
            14595127, 14595128, 14595129, 14595130, 14595131, 14595132,
            14595133, 14595134, 14595135, 14595136],
           dtype='int64', length=14203514)

In [26]:
#resetting the index of the dataframe
merged_df = merged_df.reset_index(drop=True)

### Preprocessing for the questions

#### Creating 'Time_bin' column

In [27]:
#binning the hours of the day into 2 hour time slots for question 1
def categorise(row):  
    if row['CRSDepTime'] >= 0 and row['CRSDepTime'] <= 159:
        return '12am - 2am'
    elif row['CRSDepTime'] >= 200 and row['CRSDepTime'] <= 359:
        return '2am - 4am'
    elif row['CRSDepTime'] >= 400  and row['CRSDepTime'] <= 559:
        return '4am - 6am'
    elif row['CRSDepTime'] >= 600 and row['CRSDepTime'] <= 759:
        return '6am - 8am'
    elif row['CRSDepTime'] >= 800  and row['CRSDepTime'] <= 959:
        return '8am - 10am'
    elif row['CRSDepTime'] >= 1000 and row['CRSDepTime'] <= 1159:
        return '10am - 12pm'
    elif row['CRSDepTime'] >= 1200  and row['CRSDepTime'] <= 1359:
        return '12pm - 2pm'
    elif row['CRSDepTime'] >= 1400 and row['CRSDepTime'] <= 1559:
        return '2pm - 4pm'
    elif row['CRSDepTime'] >= 1600  and row['CRSDepTime'] <= 1759:
        return '4pm - 6pm'
    elif row['CRSDepTime'] >= 1800 and row['CRSDepTime'] <= 1959:
        return '6pm - 8pm'
    elif row['CRSDepTime'] >= 2000  and row['CRSDepTime'] <= 2159:
        return '8pm - 10pm'
    elif row['CRSDepTime'] >= 2200 and row['CRSDepTime'] <= 2359:
        return '10pm - 12am'

merged_df['Time_bin'] = merged_df.apply(lambda row: categorise(row), axis=1)

#### Merging supplementary planes data set with main dataset

In [28]:
#importing the planes dataset
planes_df = pd.read_csv("plane-data.csv")

In [29]:
#checking the the planes dataset
planes_df.head()

,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
0,N050AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N051AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N052AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N054AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N055AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#renaming and keeping the necessary columns of the planes dataset to prepare it for merging with the main dataset
cleaned_planes_df = planes_df.rename({'tailnum':'TailNum', 'year': 'Manufactured_year'},axis ='columns', inplace=True)
cleaned_planes_df = planes_df.iloc[:, np.array([0,8])]
cleaned_planes_df.head()

  TailNum Manufactured_year
0  N050AA               NaN
1  N051AA               NaN
2  N052AA               NaN
3  N054AA               NaN
4  N055AA               NaN

In [31]:
#checking the data types of the cleaned_planes dataframe columns
cleaned_planes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5029 entries, 0 to 5028
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TailNum            5029 non-null   object
 1   Manufactured_year  4480 non-null   object
dtypes: object(2)
memory usage: 78.7+ KB

In [32]:
#forcing the Manufactured_Year column to numeric values
pd.to_numeric(cleaned_planes_df['Manufactured_year'],errors='coerce')

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
         ...
5024    1992.0
5025    2002.0
5026    1992.0
5027    1998.0
5028    1992.0
Name: Manufactured_year, Length: 5029, dtype: float64

In [33]:
#checking for null values
cleaned_planes_df.isnull().sum()

TailNum                0
Manufactured_year    549
dtype: int64

In [34]:
#dropping the null values
cleaned_planes_df = cleaned_planes_df.dropna()

In [35]:
#checking the data types and non null counts of cleaned_planes_df
cleaned_planes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4480 entries, 34 to 5028
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TailNum            4480 non-null   object
 1   Manufactured_year  4480 non-null   object
dtypes: object(2)
memory usage: 105.0+ KB

In [36]:
#checking the unique years in the Manufactured_year column
unique_years = cleaned_planes_df['Manufactured_year'].unique()
unique_years.sort()
print(unique_years)

['0000' '1946' '1956' '1957' '1959' '1962' '1963' '1964' '1965' '1966'
 '1967' '1968' '1969' '1970' '1971' '1972' '1973' '1974' '1975' '1976'
 '1977' '1978' '1979' '1980' '1982' '1983' '1984' '1985' '1986' '1987'
 '1988' '1989' '1990' '1991' '1992' '1993' '1994' '1995' '1996' '1997'
 '1998' '1999' '2000' '2001' '2002' '2003' '2004' '2005' '2006' '2007'
 '2008' 'None']

In [37]:
#getting rid of impossible years of Manufacture for the 2006 and 2007 years of flight datas
cleaned_planes_df = cleaned_planes_df[(cleaned_planes_df['Manufactured_year'] != '0000') &
                                      (cleaned_planes_df['Manufactured_year'] != '2008') &
                                      (cleaned_planes_df['Manufactured_year'] != 'None')]
cleaned_planes_df.shape

(4295, 2)

In [38]:
#rechecking the unique years in Manufactured_Year column
newunique_years = cleaned_planes_df['Manufactured_year'].unique()
newunique_years.sort()
print(newunique_years)

['1946' '1956' '1957' '1959' '1962' '1963' '1964' '1965' '1966' '1967'
 '1968' '1969' '1970' '1971' '1972' '1973' '1974' '1975' '1976' '1977'
 '1978' '1979' '1980' '1982' '1983' '1984' '1985' '1986' '1987' '1988'
 '1989' '1990' '1991' '1992' '1993' '1994' '1995' '1996' '1997' '1998'
 '1999' '2000' '2001' '2002' '2003' '2004' '2005' '2006' '2007']

In [39]:
#checking the values of TailNum
cleaned_planes_df = cleaned_planes_df.reset_index(drop=True)
cleaned_planes_df.head()

  TailNum Manufactured_year
0  N10156              2004
1  N102UW              1998
2  N10323              1986
3  N103US              1999
4  N104UA              1998

In [40]:
#merging both dataframes based on TailNum 
merged_df = pd.merge(merged_df, cleaned_planes_df, how = "inner", on = "TailNum")
merged_df.shape

(11503500, 28)

#### Creating 'Age' column

In [41]:
#creating the column 'age' for question 2 and 5 (Year - Manufactured_year)
merged_df['Age'] = merged_df['Year'] - merged_df['Manufactured_year'].astype(int)
merged_df['Age'].unique()

array([ 7,  8,  9, 10, 16, 17,  6, 18,  5,  1,  2, 19, 20,  4, 21, 22, 23,
       11, 12,  3, 14, 15, 13, 40, 41,  0, 49, 50, 37, 38, 30, 31, 32, 39,
       29, 35, 36, 27, 28, 26, 33, 34, 51, -1, 43, 44, 24, 25, 47, 48, 42,
       45])

In [42]:
#There is an age value of -1 year, removing rows with that as it is impossible for a plane to have a negative age
merged_df = merged_df[merged_df["Age"] != -1]

#### Creating 'Year_month' column

In [43]:
#creating a new column for question 3 called 'Year_Month' with the relevant month and year of each flight, together
merged_df['Year_month'] = pd.to_datetime(merged_df['Month'].astype(str) + "/" + merged_df['Year'].astype(str),
                                         format = '%m/%Y')
merged_df['Year_month'] = merged_df['Year_month'].dt.to_period('M')
merged_df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Time_bin,Manufactured_year,Age,Year_month
0,2006,1,11,3,743,745,1024,1018,US,343,N657AW,281.0,273.0,223.0,6.0,-2.0,ATL,PHX,1587,45,13,0,0,0,0,0,6am - 8am,1999,7,2006-01
1,2006,1,11,3,1913,1912,2326,2331,US,9,N657AW,193.0,199.0,172.0,-5.0,1.0,PHX,ORD,1440,5,16,0,0,0,0,0,6pm - 8pm,1999,7,2006-01
2,2006,1,12,4,2355,2359,1201,1301,US,374,N657AW,86.0,92.0,58.0,-10.0,-4.0,LAS,OAK,407,5,23,0,0,0,0,0,10pm - 12am,1999,7,2006-01
3,2006,1,12,4,724,729,1017,1019,US,182,N657AW,233.0,230.0,200.0,-2.0,-5.0,ORD,PHX,1440,24,9,0,0,0,0,0,6am - 8am,1999,7,2006-01
4,2006,1,12,4,1305,1300,1848,1850,US,570,N657AW,223.0,230.0,207.0,-2.0,5.0,PHX,TPA,1788,5,11,0,0,0,0,0,12pm - 2pm,1999,7,2006-01

#### Creating 'Date_time' column

In [44]:
#extracting the CRSDepTime as a time object
Time = pd.to_datetime(merged_df['CRSDepTime'], format='%H%M').dt.time

In [45]:
#getting DayofMonth, Month and Year as 'Date'
Date = pd.to_datetime(merged_df['Year'].astype(str) + "/" + merged_df['Month'].astype(str) + "/" 
                                  + merged_df['DayofMonth'].astype(str),format = '%Y/%m/%d')

In [46]:
#creating a new column called 'Date_time' with the Date and Time combined as one for question 4
merged_df["Date_time"] = pd.to_datetime(Date.astype(str) + ","  + Time.astype(str), format = "%Y-%m-%d,%H:%M:%S")

#### Creating 'Delay_status' column

In [47]:
#creating a new column to show whether a flight was delayed or not, for question 5
merged_df["Delay_status"] = merged_df["ArrDelay"].apply(lambda x: 1 if x>0 else 0)

#### Final adjustments and exporting the dataframe to a csv file

In [48]:
#generating a random sample from 50% of the dataframe's entries 
sampled_df = merged_df.sample(frac = 0.5, random_state = 1)

In [49]:
#checking the index of the data frame
print(sampled_df.index)

Int64Index([10696799,  1789344,  2784026, 10558871,  2869008,  5185736,
             4855246,  9868895,  4619898,  9228051,
            ...
             9657854,  1869214,  7479508,   463796, 11364003,   533683,
             9258024,  1415996,   650152,   841483],
           dtype='int64', length=5750846)

In [50]:
#resetting the index of the dataframe
sampled_df = sampled_df.reset_index(drop=True)

In [51]:
#saving the dataframe to a new CSV without the index of the dataframe
sampled_df.to_csv('cleaned_dataset.csv', index=False)